@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

*{
  /* normalização*/
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

body{

  background-color: rgb(56, 83, 108);
}

nav li {

    font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

header nav ul li a {
    text-decoration: none;
}

header{

display: flex;
align-items: center;
justify-content: space-around;
gap: 413px;

width: 100%;
height: 160px;

background-color: rgb(24, 22, 22);
border: 10px solid;
}

header nav ul li {

  display: inline-block;
  border: 10px solid;
  border-radius: 50px;
  width: 241px;
  height: 77px;

  margin-right: 145px;
  background-color: rgb(45, 54, 54);
}
