
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #ff00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.container {
    width: 900px;
    background-color: #d500d5; 
    border: 3px solid #000;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.top-image {
    width: 150px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.top-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.menu {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.btn {
    padding: 8px 18px;
    background-color: #ff66ff;
    border: 2px solid #000;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #ff99ff;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}


.side-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-images img {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 10px;
    object-fit: cover;
}

.center-image {
    width: 400px;
    height: 250px;
    border: 2px solid #000;
    border-radius: 40%;
    overflow: hidden;
}

.center-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
